<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wangjubao.dolphin.mapper.ads.NbfBuyerRateMapper" >
  <resultMap id="BaseResultMap" type="com.wangjubao.dolphin.pojo.ads.NbfBuyerRate" >
    <result column="ads_create_time" property="adsCreateTime" jdbcType="TIMESTAMP" />
    <result column="ads_last_update_time" property="adsLastUpdateTime" jdbcType="TIMESTAMP" />
    <result column="buyer_id" property="buyerId" jdbcType="BIGINT" />
    <result column="rate_content" property="rateContent" jdbcType="VARCHAR" />
    <result column="rate_label" property="rateLabel" jdbcType="VARCHAR" />
    <result column="seller_id" property="sellerId" jdbcType="BIGINT" />
    <result column="wjb_create_time" property="wjbCreateTime" jdbcType="TIMESTAMP" />
    <result column="wjb_last_update_time" property="wjbLastUpdateTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    ads_create_time, ads_last_update_time, buyer_id, rate_content, rate_label, seller_id, 
    wjb_create_time, wjb_last_update_time
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.wangjubao.dolphin.pojo.ads.NbfBuyerRateExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from nbf_buyer_rate
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <delete id="deleteByExample" parameterType="com.wangjubao.dolphin.pojo.ads.NbfBuyerRateExample" >
    delete from nbf_buyer_rate
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.wangjubao.dolphin.pojo.ads.NbfBuyerRate" >
    insert into nbf_buyer_rate (ads_create_time, ads_last_update_time, 
      buyer_id, rate_content, rate_label, 
      seller_id, wjb_create_time, wjb_last_update_time
      )
    values (#{adsCreateTime,jdbcType=TIMESTAMP}, #{adsLastUpdateTime,jdbcType=TIMESTAMP}, 
      #{buyerId,jdbcType=BIGINT}, #{rateContent,jdbcType=VARCHAR}, #{rateLabel,jdbcType=VARCHAR}, 
      #{sellerId,jdbcType=BIGINT}, #{wjbCreateTime,jdbcType=TIMESTAMP}, #{wjbLastUpdateTime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.wangjubao.dolphin.pojo.ads.NbfBuyerRate" >
    insert into nbf_buyer_rate
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="adsCreateTime != null" >
        ads_create_time,
      </if>
      <if test="adsLastUpdateTime != null" >
        ads_last_update_time,
      </if>
      <if test="buyerId != null" >
        buyer_id,
      </if>
      <if test="rateContent != null" >
        rate_content,
      </if>
      <if test="rateLabel != null" >
        rate_label,
      </if>
      <if test="sellerId != null" >
        seller_id,
      </if>
      <if test="wjbCreateTime != null" >
        wjb_create_time,
      </if>
      <if test="wjbLastUpdateTime != null" >
        wjb_last_update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="adsCreateTime != null" >
        #{adsCreateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="adsLastUpdateTime != null" >
        #{adsLastUpdateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="buyerId != null" >
        #{buyerId,jdbcType=BIGINT},
      </if>
      <if test="rateContent != null" >
        #{rateContent,jdbcType=VARCHAR},
      </if>
      <if test="rateLabel != null" >
        #{rateLabel,jdbcType=VARCHAR},
      </if>
      <if test="sellerId != null" >
        #{sellerId,jdbcType=BIGINT},
      </if>
      <if test="wjbCreateTime != null" >
        #{wjbCreateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="wjbLastUpdateTime != null" >
        #{wjbLastUpdateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.wangjubao.dolphin.pojo.ads.NbfBuyerRateExample" resultType="java.lang.Integer" >
    select count(*) from nbf_buyer_rate
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update nbf_buyer_rate
    <set >
      <if test="record.adsCreateTime != null" >
        ads_create_time = #{record.adsCreateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.adsLastUpdateTime != null" >
        ads_last_update_time = #{record.adsLastUpdateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.buyerId != null" >
        buyer_id = #{record.buyerId,jdbcType=BIGINT},
      </if>
      <if test="record.rateContent != null" >
        rate_content = #{record.rateContent,jdbcType=VARCHAR},
      </if>
      <if test="record.rateLabel != null" >
        rate_label = #{record.rateLabel,jdbcType=VARCHAR},
      </if>
      <if test="record.sellerId != null" >
        seller_id = #{record.sellerId,jdbcType=BIGINT},
      </if>
      <if test="record.wjbCreateTime != null" >
        wjb_create_time = #{record.wjbCreateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.wjbLastUpdateTime != null" >
        wjb_last_update_time = #{record.wjbLastUpdateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update nbf_buyer_rate
    set ads_create_time = #{record.adsCreateTime,jdbcType=TIMESTAMP},
      ads_last_update_time = #{record.adsLastUpdateTime,jdbcType=TIMESTAMP},
      buyer_id = #{record.buyerId,jdbcType=BIGINT},
      rate_content = #{record.rateContent,jdbcType=VARCHAR},
      rate_label = #{record.rateLabel,jdbcType=VARCHAR},
      seller_id = #{record.sellerId,jdbcType=BIGINT},
      wjb_create_time = #{record.wjbCreateTime,jdbcType=TIMESTAMP},
      wjb_last_update_time = #{record.wjbLastUpdateTime,jdbcType=TIMESTAMP}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
</mapper>